@mixin flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@mixin font-size($size) {
  font-size: $size;
}
@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}
@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}
@mixin size($width) {
  width: $width;
}

.dataContent {
  @include flexRow();
  @include flex-direction(column);
  align-items: center;
}

.dataHeader {
  text-align: center;
  font-weight: bolder;
  align-self: center;
  @include size(100%);
  @include font-size(20px);
  @include padding(10, 0px, 10px, 0px);
}
.searchPath {
  background-color: rgba(245, 246, 250, 1);
  @include size(100%);
  @include flexRow();
  justify-content: center;
}
.searchBar {
  border-width: 0px 0px 1px 0px;
  @include size(220px);
  background-color: rgba(245, 246, 250, 1);
}
.locationDisplay {
  @include flexRow();
  @include margin(20px, 0px, 0px, 0px);
  @include size(100vw);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
